<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <title>Dashboard - Wick Bank</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-md-6">
                <h3 class="mb-4">Dashboard</h3>
                <div class="mb-4">
                    <h5>Account Balance</h5>
                    <p class="h3">$0.00</p>
                </div>
                <div class="mb-4">
                    <h5>Recent Transactions</h5>
                    <p>No recent transactions</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html> 